doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  section#home
    header.header
      .container
        .logo
          img(src="images/logo.png")
          |НАЗВАНИЕ
        ul
          li 
            a(href="#home") ГЛАВНАЯ
          li 
            a(href="#about") О НАС
          li 
            a(href="#product") ПРОДУКЦИЯ
          li
            a(href="#review") ОТЗЫВЫ
          li 
            a(href="#buy") ЗАКАЗАТЬ
    .main-content
      .container
        .name-inner
          .name НАЗВАНИЕ
          .line
          .activities КАЧЕСТВЕННЫЕ КОПИИ ШВЕЙЦАРСКИХ ЧАСОВ
        .button ЗАКАЗАТЬ
  section#about
    .container
      h3 ПОЧЕМУ ВЫГОДНО КУПИТЬ У НАС?
      .flex-inner
        .flex-item
          .image
            img(src="images/mech.png")
          .txt
            |Механизмы для наших часов
            br
            |производятся на специализированных
            br 
            |фабриках
        .flex-item
          .image
            img(src="images/paper.png")
          .txt
            |Качество и надежность механизмов 
            br
            |подтверждено сертификатом 
            br
            |производителя
        .flex-item
          .image
            img(src="images/car.png")
          .txt
            |Быстрая доставка во все регионы 
            br
            |России. От 3 до 12 дней, в 
            br
            |зависимости от региона доставки
        .flex-item
          .image
            img(src="images/roubl.png")
          .txt
            |Работаем без предоплат. Оплата
            br
            |только при получении товара.
  section#product
    .container
      h3 НАША ПРОДУКЦИЯ
      .slider
        .inner
          img(src="images/watch1.png")
        .inner
          img(src="images/watch2.png")
        .inner
          img(src="images/watch3.png")
        .inner
          img(src="images/watch4.png")
      .line
  section#review
    .container
      h3 ОТЗЫВЫ
      .slider-review
        .man1.flex-inner
          .image 
            img(src="images/man1.png")
            .name 
              span Кристина
              br
              |г.Москва
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
        .man2.flex-inner
          .image 
            img(src="images/man2.png")
            .name 
              span Кристина
              br
              |г.Москва
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
        .man3.flex-inner
          .image 
            img(src="images/man3.png")
            .name 
              span Кристина
              br
              |г.Москва
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
        .man4.flex-inner
          .image 
            img(src="images/man4.png")
            .name 
              span Кристина
              br
              |г.Москва
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!




