doctype html
head
  meta(name="viewport" content="width=device-width")
  meta(charset="utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  //- script(src="javascripts/jquery.countdown.min.js")

  script.
    require('initialize');
body
  .popup 
    .form
      .popup-close
        |X
      .name.inputs
        label(for="name2") Ваше имя:
        input#name2(type="text" placeholder="Валентин")
      .numb.inputs
        label(for="numb2") Ваш телефон:
        input#numb2(type="text" placeholder="89001112233") 
      .email.inputs
        label(for="email2") Ваш Email:
        input#email2(type="text" placeholder="yourmail@example.com")
      .but.inputs.send2
        input.but(type="submit" value="Заказать звонок")
      .sec
        |Ваши контактные данные в безопасности*
  .popup2
    .window
      |Спасибо! 
      br
      |Наш менеджер свяжется с вами в течение 5 минут.
      .popup-close
        |X
  .head
    .opacity
      header
        .container
          .logo
            img(src="images/logo.png")
          .txt
            |Доставка заказа по всей России
            br
            |приём заявок 24/7
          .phone
            |8 (800) 333-71-57
            .popup-show
              |Заказать звонок
      .main
        .container
          .flex-inner
            .flex-item
              .title
                |ЭЛИТНЫЕ ЧАСЫ 
                |ULYSSE NARDIN
              .txt
                |Качественные часы Ulusse Nardin в России.
                br
                |Корпус и браслет из стали с золотым покрытием
                br
                |Внимание! Скидка 40% - 
                span
                  |3206
                |. 
                span
                  |2290 
                |рублей.
              .button.popup-show
                |ПОЛУЧИТЬ СКИДКУ
            .image
              img(src="images/marine.png")
          
  .our-advantages#our-advantages
    .container
      .title
        |ПРЕИМУЩЕСТВА ПЕРЕД 
        br
        |КОНКУРЕНТАМИ
      .flex-inner
        .flex-item
          .image 
            img(src="images/car.png")
          .text
            .title
              |БЫСТРАЯ ДОСТАВКА
            .txt 
              |Доставка в любой регион.
        .flex-item
          .image 
            img(src="images/clock.png")
          .text
            .title
              |ПРОВЕРЕННЫЙ ТОВАР
            .txt 
              |Перед отправкой мы проверяем товар на наличие дефектов.
        .flex-item
          .image 
            img(src="images/box.png")
          .text
            .title
              |НАДЕЖНАЯ УПАКОВКА
            .txt 
              |Ваш товар придет в целости и сохранности!
  .video-review#video-review
    .container
      .video
       <iframe src="https://www.youtube.com/embed/gPgYjGf0Zb8" frameborder="0"></iframe>
      .text
        .title
          |ПОСМОТРИТЕ ВИДЕО-ОБЗОР
        .txt
          |И вы поймете секрет их популярности,
          |а так же прелесть их удобства и комфорта,
          |ULYSSE NARDIN становятся самыми популярными, 
          |стильными и модными часами и не имеют конкурентов.
  .hight-quality
    .container
      .title
        |ЧАСЫ ВЫСОКОГО КАЧЕСТВА!
      .text
        |Чтобы купить оригинальные часы Ulusse Nardin в России 
        |потребуется не одна тысяча долларов (в Швейцарии минимальная 
        |стоимость изделия начинается от 8 тыс.), копия же обойдется в 
        |десять раз дешевле, сделанная на заводах 
        span
          |Бельгии.
  .image-block
    .flex-item
      a.fanc(href="images/1.png" rel="group1")
        .background
        img(src="images/watch1.png")
    .flex-item
      a.fanc(href="images/2.png" rel="group1")
        .background
        img(src="images/watch2.png")
    .flex-item
      a.fanc(href="images/3.png" rel="group1")
        .background
        img(src="images/watch3.png")
    .flex-item
      a.fanc(href="images/4.png" rel="group1")
        .background
        img(src="images/watch4.png")
    .flex-item
      a.fanc(href="images/5.png" rel="group1")
        .background
        img(src="images/watch5.png")
    .flex-item
      a.fanc(href="images/6.png" rel="group1")
        .background
        img(src="images/watch6.png")
    .flex-item
      a.fanc(href="images/7.png" rel="group1")
        .background
        img(src="images/watch7.png")
    .flex-item
      a.fanc(href="images/8.png" rel="group1")
        .background
        img(src="images/watch8.png")
    .flex-item
      a.fanc(href="images/9.png" rel="group1")
        .background
        img(src="images/watch9.png")
    .flex-item
      a.fanc(href="images/10.png" rel="group1")
        .background
        img(src="images/watch10.png")
    .flex-item
      a.fanc(href="images/11.png" rel="group1")
        .background
        img(src="images/watch11.png")
    .flex-item
      a.fanc(href="images/12.png" rel="group1")
        .background
        img(src="images/watch12.png")
    .flex-item
      a.fanc(href="images/13.png" rel="group1")
        .background
        img(src="images/watch13.png")
    .flex-item
      a.fanc(href="images/14.png" rel="group1")
        .background
        img(src="images/watch14.png")
    .flex-item
      a.fanc(href="images/15.png" rel="group1")
        .background
        img(src="images/watch15.png")
    .flex-item
      a.fanc(href="images/16.png" rel="group1")
        .background
        img(src="images/watch16.png")
  .why
    .container
      .title
        |ПОЧЕМУ 
        br
        |ULYSSE NARDIN?
      .flex-inner
        .flex-item
          .image 
            img(src="images/clock3.png")
          .name
            |САПФИРОВОЕ СТЕКЛО
          .txt 
            |Устойчиво к царапинам  и другим воздействиям
        .flex-item
          .image 
            img(src="images/mechanism.png")
          .name
            |БЕЛЬГИЙСКАЯ СБОРКА
          .txt 
            |Надежная продукция, проверенная годами
        .flex-item
          .image 
            img(src="images/clock2.png")
          .name
            |КАУЧУКОВЫЙ РЕМЕШОК
          .txt 
            |Не вызывает аллергии и легко очищается
  .about-watch
    .opacity
      .container
        .slider
          .flex-inner
            .image 
               img(src="images/blueclock.png")  
          .flex-inner
            .image 
               img(src="images/blackclock.png")
               
        .charact
          .title
            |Характеристики:
          .text
            .string
              span
                |Модель: 
              |Marine Chronometer
            .string
              span
                |Бренд: 
              |Ulusse Nardin
            .string
              span
                |Вид: 
              |наручные часы
            .string
              span
                |Производитель: 
              span.yellow
                |Бельгия
            .string
              span
                |Цвет корпуса: 
              |золотой
            .string
              span
                |Тип:  
              |мужские
            .string
              span
                |Механизм: 
              |кварцевые(Япония), механические(Швейцария)
            .string
              span
                |Функции: 
              |часовая, минутная, секундная стрелки
            .string
              span
                |Циферблат: 
              |синий с золотистым
            .string
              span
                |Ремешок: 
              |каучуковый
            .string
              span
                |Цвет ремешка: 
              |черный, темно-синий
            .string
              span
                |Вес браслета: 
              |130 грамм
            .string
              span
                |Диаметр циферблата: 
              |44 мм
            .string
              span
                |Толщина циферблата: 
              |14 мм 
        form.form
          .price
            .txt 
              |КВАРЦЕВЫЕ - 2290р
            .txt 
              |МЕХАНИЧЕСКИЕ - 3990р
            .txt
              span
                |Старая цена - 3206 рублей
            .txt
              span
                |Старая цена - 5586 рублей
          .title
            |Для получения скидки 40%
            br
            |заполните форму ниже
            br 
            span
              |До конца акции:
          .timer
          .name.inputs
            label(for="name") Ваше имя:
            input#name(type="text" placeholder="Валентин")
          .numb.inputs
            label(for="numb") Ваш телефон:
            input#numb(type="text" placeholder="89001112233") 
          .email.inputs
            label(for="email") Ваш Email:
            input#email(type="text" placeholder="yourmail@example.com")
          .but.inputs
            input.send.but(type="submit" value="Получить скидку")
          .sec
            |Ваши контактные данные в безопасности*

.process#process
  .container
    .title
      |ПРОЦЕСС РАБОТЫ С НАМИ
    .flex-inner
      .flex-item
        .number
          span
            |1
          .str 
            img(src="images/str.png")
        .txt 
          |Вы оставляете заявку на 
          br
          |сайте
      .flex-item
          .number
            span
              |2
            .str 
              img(src="images/str.png")
          .txt 
            |Наш менеджер перезвонит
            br 
            | в течение 5 минут
      .flex-item
          .number
            span
              |3
            .str 
              img(src="images/str.png")
          .txt 
            |Мы проконсультируем Вас 
            br
            |и уточним детали доставки
      .flex-item
          .number
            span
              |4
            .str 
              img(src="images/str.png")
          .txt 
            |Мы быстро доставляем вашу 
            br
            |посылку по указанному 
            br
            |адресу
      .flex-item
          .number
            span
              |5
          .txt 
            |Вы получаете часы
.reviews#reviews
  .container
    .slider-review   
      .review
        .flex-inner
          .img 
            img(src="images/face.png")
          .dots
            img(src="images/rev.png")
          .txt
            |Хорошие часы. Стильные. Очень недорого для этого
            |качества. Займут достойное место в моей коллекции.
            |Сразу же заказал из этой серии двое часов друзьям.
            br
            span
              |Александр, г. Москва, т. 89106973725

          .dots-after
            img(src="images/rev.png")
      .review
        .flex-inner
          .img1
            img(src="images/face1.jpg")
          .dots
            img(src="images/rev.png")
          .txt
            |Часы реально крутые! Не ожидал, что все действительно без обмана. Доставили вовремя. Часы порадовали, действительно как на фото. В общем, рекомендую!
            br
            span
              |Вячеслав, г. Омск, т. 89134119974
          .dots-after
            img(src="images/rev.png")
      .review
        .flex-inner
          .img1
            img(src="images/face2.jpg")
          .dots
            img(src="images/rev.png")
          .txt
            |Очень классные часы. Ни сколько не жалею, что купил. Респект вам и процветания. Спасибо большое.
            br
            span
              |Сергей, г. Москва, т. 89107815551
          .dots-after
            img(src="images/rev.png")
      .review
        .flex-inner
          .img1.scale 
            img(src="images/face3.jpg")
          .dots
            img(src="images/rev.png")
          .txt
            |Рад, что наткнулся на рекламу данного магазина. Сайт очень стильный и приятный, а менеджер перезвонил через 2 минуты и грамотно проконсультировал.
            br
            span
              |Алексей, г. Тверь, т. 89304192370
          .dots-after
            img(src="images/rev.png")
      .review
        .flex-inner
          .img1.scale
            img(src="images/face4.jpg")
          .dots
            img(src="images/rev.png")
          .txt
            |Отличный магазин! Раньше таких не приходилось наблюдать. И порадовали не только часы, а так же оперативная доставка
            br
            span
              |Михаил, г. Ростов-на-Дону, т. 89505144756
          .dots-after
            img(src="images/rev.png")
      .review
        .flex-inner
          .img1.scale
            img(src="images/face5.jpg")
          .dots
            img(src="images/rev.png")
          .txt
            |Полюбил эти часы с первого же дня. И, кажется, не
            br 
            |только я) Заказал такие же часы своему сынишке!! Теперь только Ulysse Nardin!!
            br
            span
              |Геннадий, г. Санкт-Петербург, т. 89104118974
          .dots-after
            img(src="images/rev.png")
.footer
  .container
    .logo
      img(src="images/logo.png")
    ul 
      li 
        a(href="")
          img(src="images/mail.png")
        .wind
          |myulysseshop@gmail.com
      li 
        a(href="")
          img(src="images/skype.png")
        .wind
          |myulysseshop
      li 
        a(href="#video-review") О ЧАСАХ
      li 
        a(href="#process") ПРОЦЕСС ЗАКАЗА
      li 
        a(href="#our-advantages") ПОЧЕМУ МЫ?
      li 
        a(href="#reviews") ОТЗЫВЫ
