doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  
  .first
    .background
    .navbar
      .container
        .navbar-logo
          img(src="images/logo.svg")

        .navbar-list
          .navbar-list-item
            a(href="#") главная

          .navbar-list-item
            a(href="#") акции

          .navbar-list-item
            a(href="#") о брэнде

          .navbar-list-item
            a(href="#") отзывы

          .navbar-list-item
            a(href="#") контакты 
    .headers
      .container
        .headers-title
          |ЭЛИТНЫЕ ЧАСЫ ULYSSE NARDIN
        .headers-sub
          |Качественные копии швейцарских часов
        .headers-button
          |заказать сейчас

    .scrolldown
      a(href="#")
        img(src="images/down.svg")

  .second
    .container
      .second-title
        |АКЦИЯ!
        |ЗАКАЖИТЕ ПРЯМО СЕЙЧАС
        |И ПОЛУЧИТЕ СКИДКУ!
      .second-item
        .second-form
          form(method="post")
            input(type="text" name="name" placeholder="имя")
            input(type="text" name="numb" placeholder="телефон")
            .button
              |заказать сейчас
        .flipcont
          |ДО КОНЦА АКЦИИ ОСТАЛОСЬ:
          .flip

  .third
    .container
      .third-title
        |ЭЛИТНЫЕ ЧАСЫ 
        span
          |ULYSSE NARDIN
      .third-main
        span
          |История швейцарской марки Ulysse Nardin насчитывает 
          |более 150 лет. Основателем компании в 1846 году, 
          |стал всемирно известный человек – Ulysse Nardin. 
          |Уже в 1861 году фирма начинает предоставлять свои хронометры 
          |Женевской и Нёшательской обсерватории для испытаний, 
          |которые назвали соревнованиями хронометров – целью 
          |этих тестов были замеры точности хода часов.
        span
          |Часы Ulysse Nardin Marine – это символ успеха, 
          |стабильности и процветания настоящих самодостаточных 
          |мужчин, которые идут в ногу со временем. Это не просто 
          |быкновенные часы – это высшее творение часового мастерства, 
          |которое взяло исток своей истории в знаменитой Швейцарии.
        span
          |Благодаря звездам Голливуда, шоу бизнеса и музыки – 
          |они стали гарантом статуса, обеспеченности, 
          |успешности для каждого уверенного в себе мужчины. 
          | каждого состоятельного, успешного мужчины просто 
          |обязаны быть такие часы». Брендовые и высококачественные 
          |часы добавят вам уверенности в себе. Вы легко займете 
          |достойную и непоколебимую позицию в глазах любого человека. 
          |Только Ulysse Nardin на вашей руке гарантируют тройное 
          |женское внимание!
        span
          |Сегодня Ulysse Nardin является легендой часового мира, 
          |символом роскоши и стиля.



  .fourth
    .container
      .fourth-title
        |ПОЧЕМУ ВЫГОДНО КУПИТЬ И ИМЕННО У НАС ?
      .fourth-items
        .item 
          img(src="images/hands.svg")
          .item-text
            |Работаем без предоплаты. Оплачиваете товар только при получении в ваши руки.
        .item 
          img(src="images/clock.svg")
          .item-text
            |Быстро обработаем и подтвердим ваш заказ.
        .item 
          img(src="images/box.svg")
          .item-text
            |Надежная упаковка,способная уберечь ваш заказ от повреждений
        .item 
          img(src="images/telegram.svg")
          .item-text
            |Оперативно доставим товар в любой регион России.
        .item 
          img(src="images/lovemom.svg")
          .item-text
            |Товар есть в наличии всегда! Никаких долгих ожиданий
        .item 
          img(src="images/last.svg")
          .item-text
            |Качество и надежность механизмов подтверждено сертификатом производителя



  .fivth
    .container
      |ОТЗЫВЫ
      .slider-review
        .man1.flex-inner
          img(src="images/man1.png")
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
            .name 
              span Кристина 
              |г. Ростов-на-Дону
        .man2.flex-inner
          img(src="images/man2.png")
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
            .name 
              span Виктор 
              |г. Ростов-на-Дону
        .man3.flex-inner
          img(src="images/man3.png")        
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
            .name 
              span Екатерина 
              | г. Ростов-на-Дону
        .man4.flex-inner
          img(src="images/man4.png")
          .txt
            |Спасибо работникам магазина за 
            |грамотную консультацию. Так доходчиво 
            |все объяснили. Мы ж только думаем, что 
            |все знаем... Еще раз спасибо! Очень 
            |довольна своими новыми часами!
            .name 
              span Влад 
              | г. Ростов-на-Дону
  .sixth
    .sixth-title
        |ОСТАВТЕ ЗАЯВКУ
        |И НАШ МЕНЕДЖЕР
        |СВЯЖЕТСЯ С ВАМИ!
    .container
      form(method="post")
        input(type="text" name="name" placeholder="Введите имя")
        input(type="text" name="numb" placeholder="Введите номер телефона")
        .button
          |ОСТАВИТЬ ЗАЯВКУ
      .image
        img(src="/images/watch1.png")
        .price
          span
            |7490 Р
          br
          p
            |4290 Р