doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  
  .first
    .background
    .navbar
      .container
        .navbar-logo
          img(src="images/logo.svg")

        .navbar-list
          .navbar-list-item
            a(href="#") главная

          .navbar-list-item
            a(href="#") акции

          .navbar-list-item
            a(href="#") о брэнде

          .navbar-list-item
            a(href="#") отзывы

          .navbar-list-item
            a(href="#") контакты 
    .headers
      .container
        .headers-title
          |ЭЛИТНЫЕ ЧАСЫ ULYSSE NARDIN
        .headers-sub
          |Качественные копии швейцарских часов
        .headers-button
          |заказать сейчас

    .scrolldown
      a(href="#")
        img(src="images/down.svg")

  .second
    .container
      .second-title
        |АКЦИЯ!
        |ЗАКАЖИТЕ ПРЯМО СЕЙЧАС
        |И ПОЛУЧИТЕ СКИДКУ!
      .second-item
        .second-form
          form(method="post")
            input(type="text" name="name" placeholder="имя")
            input(type="text" name="numb" placeholder="телефон")
            .button
              |заказать сейчас
        .flipcont
          |ДО КОНЦА АКЦИИ ОСТАЛОСЬ:
          .flip


  .third
    .container
      .third-title
        |ПОЧЕМУ ВЫГОДНО КУПИТЬ И ИМЕННО У НАС ?
      .third-items
        .item 
          img(src="images/hands.svg")
          .item-text
            |Работаем без предоплаты. Оплачиваете товар только при получении в ваши руки.
        .item 
          img(src="images/clock.svg")
          .item-text
            |Быстро обработаем и подтвердим ваш заказ.
        .item 
          img(src="images/box.svg")
          .item-text
            |Надежная упаковка,способная уберечь ваш заказ от повреждений
        .item 
          img(src="images/telegram.svg")
          .item-text
            |Оперативно доставим товар в любой регион России.
        .item 
          img(src="images/lovemom.svg")
          .item-text
            |Товар есть в наличии всегда! Никаких долгих ожиданий
        .item 
          img(src="images/last.svg")
          .item-text
            |Качество и надежность механизмов подтверждено сертификатом производителя