doctype html
head
  meta(name="viewport" content="width=device-width")
  meta(charset="utf-8")
  link(rel="stylesheet" href="stylesheets/app.css")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="javascripts/pharse.js")

  script.
    require('initialize');

body
  .head
    .opacity
      header
        .container
          .logo
            img(src="images/logo.png")
          .txt
            |Доставка заказа по всей России
            br
            |приём заявок 24/7
          .phone
            |8 (800) 333-71-57
            .popup-show
              |Заказать звонок
      .main
        .container
          .flex-inner
            .flex-item
              .title
                |ЭЛИТНЫЕ ЧАСЫ 
                |ULYSSE NARDIN
              .txt
                |Точные копии часов Ulusse Nardin в России.
                |Корпус и браслет из стали с золотым покрытием
                |Внимание! Скидка 40% - 
                span
                  |3206
                |. 
                span
                  |2290 
                |рублей.
              .button
                |ПОЛУЧИТЬ СКИДКУ
            .image
              img(src="images/marine.png")
          .navbar
            .inner
              .circle.active
              .circle
              .circle
              .circle
              .circle
  .our-advantages
    .container
      .title
        |ПРЕИМУЩЕСТВА ПЕРЕД КОНКУРЕНТАМИ
      .flex-inner
        .flex-item
          .image 
            img(src="images/car.png")
          .text
            .title
              |БЫСТРАЯ ДОСТАВКА
            .txt 
              |Доставка в любой регион.
        .flex-item
          .image 
            img(src="images/clock.png")
          .text
            .title
              |ПРОВЕРЕННЫЙ ТОВАР
            .txt 
              |Перед отправкой мы проверяем товар на наличие дефектов.
        .flex-item
          .image 
            img(src="images/box.png")
          .text
            .title
              |НАДЕЖНАЯ УПАКОВКА
            .txt 
              |Ваш товар придет в целости и сохранности!
  .video-review
    .container
      .video 
      .text
        .title
          |ПОСМОТРИТЕ ВИДЕО-ОБЗОР
        .txt
          |И вы поймете секрет их популярности,
          |а так же прелесть их удобства и комфорта,
          |ULYSSE NARDIN становятся самыми популярными, 
          |стильными и модными часами и не имеют конкурентов.
  .hight-quality
    .container
      .title
        |ЧАСЫ ВЫСОКОГО КАЧЕСТВА!
      .text
        |Чтобы купить оригинальные часы Ulusse Nardin в России 
        |потребуется не одна тысяча долларов (в Швейцарии минимальная 
        |стоимость изделия начинается от 8 тыс.), копия же обойдется в 
        |десять раз дешевле, сделанная на заводах 
        span
          |Бельгии.
  .image-block
    .flex-item
      .opacity
      img(src="images/watch1.png")
    .flex-item
      .opacity
      img(src="images/watch2.png")
    .flex-item
      .opacity
      img(src="images/watch3.png")
    .flex-item
      .opacity
      img(src="images/watch4.png")
    .flex-item
      .opacity
      img(src="images/watch5.png")
    .flex-item
      .opacity
      img(src="images/watch6.png")
    .flex-item
      .opacity
      img(src="images/watch7.png")
    .flex-item
      .opacity
      img(src="images/watch8.png")
    .flex-item
      .opacity
      img(src="images/watch9.png")
    .flex-item
      .opacity
      img(src="images/watch10.png")
    .flex-item
      .opacity
      img(src="images/watch11.png")
    .flex-item
      .opacity
      img(src="images/watch12.png")
    .flex-item
      .opacity
      img(src="images/watch13.png")
    .flex-item
      .opacity
      img(src="images/watch14.png")
    .flex-item
      .opacity
      img(src="images/watch15.png")
    .flex-item
      .opacity
      img(src="images/watch16.png")
  .why
    .container
      .title
        |ПОЧЕМУ 
        br
        |ULYSSE NARDIN?
      .flex-inner
        .flex-item
          .image 
            img(src="images/clock3.png")
          .name
            |САПФИРОВОЕ СТЕКЛО
          .txt 
            |Устойчиво к царапинам  и другим воздействиям
        .flex-item
          .image 
            img(src="images/mechanism.png")
          .name
            |БЕЛЬГИЙСКАЯ СБОРКА
          .txt 
            |Надежная продукция, проверенная годами
        .flex-item
          .image 
            img(src="images/clock2.png")
          .name
            |КАУЧУКОВЫЙ РЕМЕШОК
          .txt 
            |Не вызывает аллергии и легко очищается
  .about-watch
    .opacity
      .container
        .slider
          .flex-inner
            .image 
               img(src="images/blueclock.png")
               .navbar
            .charact
              .title
                |Характеристики:
              .text
                .string
                  span
                    |Модель: 
                  |Marine Chronometer
                .string
                  span
                    |Бренд: 
                  |Ulusse Nardin
                .string
                  span
                    |Вид: 
                  |наручные часы
                .string
                  span
                    |Производитель: 
                  span.yellow
                    |Бельгия
                .string
                  span
                    |Цвет корпуса: 
                  |золотой
                .string
                  span
                    |Тип:  
                  |мужские
                .string
                  span
                    |Механизм: 
                  |кварцевые, механика
                .string
                  span
                    |Функции: 
                  |часовая, минутная, секундная стрелки
                .string
                  span
                    |Циферблат: 
                  |синий с золотистым
                .string
                  span
                    |Ремешок: 
                  |каучуковый
                .string
                  span
                    |Цвет ремешка: 
                  |черный
                .string
                  span
                    |Вес браслета: 
                  |130 грамм
                .string
                  span
                    |Диаметр циферблата: 
                  |44 мм
                .string
                  span
                    |Толщина циферблата: 
                  |14 мм
          .flex-inner
            .image 
               img(src="images/blackclock.png")
               .navbar
            .charact
              .title
                |Характеристики:
              .text
                .string
                  span
                    |Модель: 
                  |Marine Chronometer
                .string
                  span
                    |Бренд: 
                  |Ulusse Nardin
                .string
                  span
                    |Вид: 
                  |наручные часы
                .string
                  span
                    |Производитель: 
                  span.yellow
                    |Бельгия
                .string
                  span
                    |Цвет корпуса: 
                  |золотой
                .string
                  span
                    |Тип:  
                  |мужские
                .string
                  span
                    |Механизм: 
                  |кварцевые, механика
                .string
                  span
                    |Функции: 
                  |часовая, минутная, секундная стрелки
                .string
                  span
                    |Циферблат: 
                  |синий с золотистым
                .string
                  span
                    |Ремешок: 
                  |каучуковый
                .string
                  span
                    |Цвет ремешка: 
                  |темно-синий
                .string
                  span
                    |Вес браслета: 
                  |130 грамм
                .string
                  span
                    |Диаметр циферблата: 
                  |44 мм
                .string
                  span
                    |Толщина циферблата: 
                  |14 мм   
        form.form(method="post" name="shipForm")
          .price
            .txt 
              |КВАРЦЕВЫЕ - 2290р
            .txt 
              |МЕХАНИЧЕСКИЕ - 3990р
            .txt
              span
                |Старая цена - 3206 рублей
            .txt
              span
                |Старая цена - 5586 рублей
          .title
            |Для получения скидки 40%
            br
            |заполните форму ниже
            br 
            span
              |До конца акции:
          .timer
          .name.inputs
            label(for="name") Ваше имя:
            input#name(type="text" placeholder="Валентин" name="name")
          .numb.inputs
            label(for="numb") Ваш телефон:
            input#numb(type="text" placeholder="89001112233" name="numb") 
          .email.inputs
            label(for="email") Ваш Email:
            input#email(type="text" placeholder="yourmail@example.com" name="email")
          .button.inputs
            input.but(type="submit" value="Получить скидку" name="send")
          .sec
            |Ваши контактные данные в безопасности*

