doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  section#home
    header.header
      .container
        .logo
          img(src="images/logo.png")
          |НАЗВАНИЕ
        ul
          li 
            a(href="#home") ГЛАВНАЯ
          li 
            a(href="#about") О НАС
          li
            a(href="#review") ОТЗЫВЫ
          li 
            a(href="#buy") ЗАКАЗАТЬ
    .main-content
      .container
        .name-inner
          .name НАЗВАНИЕ
          .line
          .activities КАЧЕСТВЕННЫЕ КОПИИ ШВЕЙЦАРСКИХ ЧАСОВ
        .button ЗАКАЗАТЬ

