@import "bourbon/bourbon"
@import 'tools/_flexbox'
@import 'tools/_media_queries'
@import 'tools/_helpers'
@import 'tools/_mixins'
@import 'tools/_normalize'
@import 'tools/_settings'
$yellow: #ffc500

body
  background: url('../images/pattern.png')
  min-width: 1024px
.container
  @extend .container 
  color: white
  font-family: 'dinnbold'
.head
  background: url('../images/fon1.jpg') no-repeat 50% 20%
  background-size: cover
  .opacity
    background: rgba(0,0,0,0.5)
    padding-top: 20px
  header
    .container
      @extend .row
      align-items: center
      .txt
        flex: 1 0 auto
        text-align: center
        opacity: 0.6
        font-size: 20px
      .phone
        font-size: 25px
        font-weight: bold
        line-height: 30px
        text-align: right
        letter-spacing: 2px
        .popup-show
          font-size: 18px
          text-decoration: underline
          cursor: pointer
          letter-spacing: 1px
          line-height: 25px
  .main
    margin-top: 50px
    .container
      @extend .row
      justify-content: space-between
      .flex-inner
        @extend .row
        .flex-item
          align-self: space-around
          width: 50%
          font-size: 20px
          @extend .column
          justify-content: center
          align-items: flex-start
          text-align: left
          .title
            font-size: 45px
          .txt
            font-weight: 500
            span:first-of-type
              text-decoration: line-through
            span:last-of-type
              color: $yellow
              font-size: 25px
          .button
            border-radius: 5px 
            border: 2px solid $yellow
            padding: 10px 20px
            margin-top: 15px
            cursor: pointer
            transition: all 0.5s ease
            &:hover
              background: $yellow
              color: black
        .image 
          width: 50%
          img 
            position: relative
            top: 20px
          

.our-advantages
  padding: 50px 0
  .container
    @extend .column
    color: black
    .title
      align-self: center
      font-size: 45px
      width: 90%
    .flex-inner
      margin-top: 50px
      @extend .row
      justify-content: space-between
      .flex-item
        width: 34%
        @extend .row
        justify-content: flex-start
        align-items: flex-start
        .image
          align-self: center
          img
            min-width: 50px
        .text 
          margin-left: 15px
          width: 80%
          text-align: left
          @extend .column
          .title
            align-self: flex-start
            font-size: 18px
            text-align: left
            font-weight: bold
          .txt 
            font-weight: 200
.video-review
  padding: 50px 0px
  .container
    @extend .row
    min-height: 250px
    .video 
      min-width: 50%
      iframe
        min-width: 100%
        min-height: 255px
    .text 
      margin-left: 20px
      color: black
      text-align: left
      @extend .column
      align-items: flex-start
      .title
        font-weight: bold
        font-size: 40px
.hight-quality
  padding: 50px 0px
  .container
    color: black
    @extend .column
    align-items: center
    .title
      font-size: 45px
    .text 
      margin-top: 20px
      width: 52%
      span 
        color: $yellow
.image-block
  padding: 50px 0px
  @extend .row
  flex-wrap: wrap
  .flex-item
    position: relative
    width: 12.5%
    overflow: hidden  
    a
      background: rgba(0,0,0,0.5)
      transition: all 0.5s ease
      z-index: 6
      .background
        z-index: 5
        position: absolute
        left: 0
        top: 0
        width: 100%
        height: 100%
        background: rgba(0,0,0,0.5)
        transition: 0.5s ease 
      &:hover
        .background
          background: transparent
        img
          transform: scale(1.1)
    img 
      min-width: 100%
      transition: all 0.5s ease

    

.why
  padding: 50px 0
  .container
    color: black
    @extend .column
    .title
      font-size: 45px
      align-self: center
    .flex-inner
      margin-top: 50px
      @extend .row
      justify-content: space-between
      .flex-item
        width: 30%
        @extend .column
        .name
          line-height: 35px
          font-size: 30px
          letter-spacing: 1px
        .image
          align-self: center
          padding: 10% 20%
          width: 75%
          border-image: -webkit-gradient(linear, left top, left bottom,from(#666), to(transparent), color-stop(0.4, #666), color-stop(0.65, transparent)) 1 1 1 1 repeat
        &:nth-of-type(2)
          .image
            border-image: -webkit-gradient(linear, left top, left bottom,from($yellow), to(transparent), color-stop(0.4, $yellow), color-stop(0.65, transparent)) 1 1 1 1 repeat
        .txt 
          align-self: center
          width: 69%
          letter-spacing: 1px
          margin-top: 15px
.about-watch
  background: url('../images/fon2.png') no-repeat center center
  background-size: cover
  .opacity
    padding: 20px 0
    background: rgba(0,0,0,0.3)
    .container
      @extend .row
      align-items: center
      .slider
        width: 70%
        .slick-next, .slick-prev
          display: none !important
        .slick-dots
          bottom: 59px
          width: initial
          left: 85px
          li 
            position: relative
            min-width: 20px
            border: 1px solid transparent
            min-height: 20px
            border-radius: 10px
            opacity: 0.5
            margin-top: 5px
            transition: all 0.5s ease
            &:after 
              content: ""
              position: absolute
              width: 10px
              height: 10px
              left: 50%
              top: 50%
              transform: translate(-50%,-50%)
              background: white
              border-radius: 5px
              cursor: pointer
          .slick-active
            border: 1px solid white
            opacity: 1
        .flex-inner
          outline: none
          @extend .row
          width: 100%
        .image
          @extend .column
          align-items: center
          justify-content: center
          img 
            max-height: 270px
        .charact
          @extend .column
          align-items: flex-start
          .title
            font-weight: bold
          .text 
            @extend .column
            align-items: flex-start
            span 
              font-weight: bold
            .yellow
              color: $yellow
            .string
              margin-top: 5px
      form 
        background: rgba(0,0,0,0.4)
        padding: 15px
        flex: 1 0 auto
        border-radius: 10px
        @extend .column
        .price
          padding: 10px 0
          border: 1px solid $yellow
          span 
            text-decoration: line-through
            font-size: 12px
        .title
          font-size: 20px
          span 
            font-size: 16px
        .timer
          align-self: center
          border: 1px solid $yellow
          height: 80px
          width: 80%
          .countdown_row
            @extend .row
            justify-content: space-around
            align-items: center
            min-width: 100%
            min-height: 100%
            .countdown_section
              font-size: 15px 
              .countdown_amount
                font-size: 35px !important
        .inputs
          align-self: center
          width: 80%
          margin-top: 10px
          @extend .column
          align-items: flex-start
          input
            width: 100%
            border: 1px solid white
            background: transparent
            height: 50px
            color: white
            padding-left: 10px
            &[type="submit"]
              background: $yellow
              font-weight: bold
        .sec 
          align-self: center
          text-align: left
          font-size: 12px
          margin-top: 5px
.process
  padding: 50px 0
  .container
    color: black
    @extend .column
    .title
      font-size: 45px
    .flex-inner
      @extend .row
      justify-content: space-between
      margin-top: 50px
      .flex-item
        min-width: 20%
        @extend .column
        justify-content: flex-start
        .number
          position: relative
          align-self: center
          width: 100%
          font-weight: bold
          font-size: 100px
          color: $yellow
          span
            box-shadow: 2px 0px 2px black
            padding: 10px 40px
            border-radius: 50%
          .str 
            position: absolute
            right: -8%
            top: 0%
        .txt 
          margin-top: 25px
          font-size: 14px
    .foot
      align-self: center
      font-size: 13px
      color: gray
      margin-top: 30px
.reviews
  background: #eee
  padding: 30px 0
  .container
    color: black
    .slick-next
      right: -25px
      height: initial
      z-index: 1
      width: auto
      transition: opacity 0.3s ease
      opacity: 0.35
      &:hover
        opacity: 0.5
      &:before
        content: url('../images/right.png')
    .slick-prev
      left: -25px
      height: initial
      width: auto
      z-index: 1
      transition: opacity 0.3s ease
      opacity: 0.35
      &:hover
        opacity: 0.5
      &:before
        content: url('../images/left.png')
    .review
      @extend .column
      align-items: center
      justify-content: center
      outline: none
      .flex-inner
        width: 90%
        @extend .row
        justify-content: space-around

        .dots 
          margin-top: 20px
        .img 
          min-width: 183px
          min-height: 183px
        .txt 
          align-self: center
          width: 60%
          font-size: 20px
          text-align: left
        .dots-after
          align-self: flex-end
          margin-bottom: 20px
.footer
  padding: 20px 0
  background: black
  .container
    @extend .row 
    justify-content: space-between
    align-items: center
    a 
      color: white
      font-weight: bold
      

    ul 
      @extend .row
      width: 70%
      li
        display: inline-block
        &:first-child, &:nth-child(2)
          a
            &:after
              content: none
        a
          position: relative
          padding-bottom: 10px
          &:after
            content: ''
            width: 0%
            height: 2px
            background: #fff
            position: absolute
            left: 50%
            bottom: 0
            transform: translateX(-50%)
            transition: width 0.3s ease
          &:hover
            &:after
              width: 100%

.headhesive
  display: block
  position: fixed
  width: 100%
  bottom: 0
  transform: translateY(100%)
  transition: all 300ms ease-in-out
  z-index: 10
.headhesive--stick
  transform: translateY(0%)

.popup 
  background: rgba(0,0,0,0.5)
  z-index: 15
  display: flex
  position: fixed
  width: 100%
  height: 100%
  .form 
    position: relative
    margin: auto
    background: rgba(255,255,255,1)
    padding: 15px
    border-radius: 10px
    color: black
    .popup-close
      position: absolute
      right: -10px
      top: -15px
      cursor: pointer
      border: 1px solid white
      border-radius: 50%
      padding: 5px 11px
      background: red
      color: white
    @extend .column
    .inputs
      align-self: center
      width: 80%
      margin-top: 10px
      @extend .column
      align-items: flex-start
      input
        width: 100%
        border: 1px solid #3a3a3a
        outline: none
        background: transparent
        height: 50px
        color: black
        padding-left: 10px
        transition: border 0.3s ease
        &:focus
          border: 1px solid $yellow
        &[type="submit"]
          background: $yellow
          font-weight: bold
          color: white
          border: none
    .sec 
      align-self: center
      text-align: left
      font-size: 12px
      margin-top: 5px
.popup2
  background: rgba(0,0,0,0.5)
  z-index: 15
  display: flex
  position: fixed
  width: 100%
  height: 100%
  .window
    position: relative
    margin: auto
    font-size: 50px
    width: 50%
    min-height: 30%
    background: white
    text-align: center
    padding: 30px
    border: 2px solid $yellow
    .popup-close
      position: absolute
      right: -3%
      top: -8%
      cursor: pointer
      border: 1px solid white
      border-radius: 50%
      padding: 5px 11px
      background: red
      color: white
      font-size: 16px

          

      


