/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #f9f9f9;
	color: #444;
	text-shadow: none;
	border-radius: 4px;
}

.fancybox-opened {
	z-index: 8030;
}

.fancybox-opened .fancybox-skin {
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: url(fancybox_overlay.png);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(fancybox_sprite@2x.png);
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(fancybox_loading@2x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

@charset "UTF-8";
.body-fixed {
  overflow: hidden; }

.vertically-centred-content {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.dev {
  background: rgba(0, 0, 0, 0.15); }

body.dev * {
  background-color: rgba(0, 0, 0, 0.05); }

/*! normalize.css v2.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "dinnbold";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINNextW1G-Bold.eot");
  src: url("../fonts/DINNextW1G-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextW1G-Bold.woff") format("woff"), url("../fonts/DINNextW1G-Bold.ttf") format("truetype"), url("../fonts/DINNextW1G-Bold.svg#dinnbold") format("svg"); }
@font-face {
  font-family: "dinnreg";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINNextW1G-Regular.eot");
  src: url("../fonts/DINNextW1G-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextW1G-Regular.woff") format("woff"), url("../fonts/DINNextW1G-Regular.ttf") format("truetype"), url("../fonts/DINNextW1G-Regular.svg#dinnreg") format("svg"); }
@font-face {
  font-family: "dinnlight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINNextW1G-Light.eot");
  src: url("../fonts/DINNextW1G-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextW1G-Light.woff") format("woff"), url("../fonts/DINNextW1G-Light.ttf") format("truetype"), url("../fonts/DINNextW1G-Light.svg#dinnlight") format("svg"); }
@font-face {
  font-family: "dinnultra";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/DINNextW1G-UltraLight.eot");
  src: url("../fonts/DINNextW1G-UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/DINNextW1G-UltraLight.woff") format("woff"), url("../fonts/DINNextW1G-UltraLight.ttf") format("truetype"), url("../fonts/DINNextW1G-UltraLight.svg#dinnultra") format("svg"); }
* {
  box-sizing: border-box; }

.container {
  width: 100%;
  width: 1024px;
  margin: 0 auto;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center; }

.row, .head header .container, .head .main .container, .head .main .container .flex-inner, .our-advantages .container .flex-inner, .our-advantages .container .flex-inner .flex-item, .video-review .container, .image-block, .why .container .flex-inner, .about-watch .opacity .container, .about-watch .opacity .container form .timer .countdown-row, .process .container .flex-inner, .reviews .container .review .flex-inner, .footer .container, .footer .container ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .row.centered, .head header .centered.container, .head .main .centered.container, .head .main .container .centered.flex-inner, .our-advantages .container .centered.flex-inner, .our-advantages .container .flex-inner .centered.flex-item, .video-review .centered.container, .centered.image-block, .why .container .centered.flex-inner, .about-watch .opacity .centered.container, .about-watch .opacity .container form .timer .centered.countdown-row, .process .container .centered.flex-inner, .reviews .container .review .centered.flex-inner, .footer .centered.container, .footer .container ul.centered {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.column, .head .main .container .flex-inner .flex-item, .our-advantages .container, .our-advantages .container .flex-inner .flex-item .text, .video-review .container .text, .hight-quality .container, .why .container, .why .container .flex-inner .flex-item, .about-watch .opacity .container .slider .flex-inner, .about-watch .opacity .container .slider .flex-inner .image, .about-watch .opacity .container .charact, .about-watch .opacity .container .charact .text, .about-watch .opacity .container form, .about-watch .opacity .container form .timer .countdown-row .countdown-section, .about-watch .opacity .container form .inputs, .process .container, .process .container .flex-inner .flex-item, .reviews .container .review, .popup .form, .popup .form .inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }
  .column.centered, .head .main .container .flex-inner .centered.flex-item, .our-advantages .centered.container, .our-advantages .container .flex-inner .flex-item .centered.text, .video-review .container .centered.text, .hight-quality .centered.container, .why .centered.container, .why .container .flex-inner .centered.flex-item, .about-watch .opacity .container .slider .centered.flex-inner, .about-watch .opacity .container .slider .flex-inner .centered.image, .about-watch .opacity .container .centered.charact, .about-watch .opacity .container .charact .centered.text, .about-watch .opacity .container form.centered, .about-watch .opacity .container form .timer .countdown-row .centered.countdown-section, .about-watch .opacity .container form .centered.inputs, .process .centered.container, .process .container .flex-inner .centered.flex-item, .reviews .container .centered.review, .popup .centered.form, .popup .form .centered.inputs {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

html, body {
  font-size: 16px;
  line-height: 24px;
  color: #000000; }

html, button, input, select, textarea {
  color: #000000;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 44px;
  font-size: 2.75rem; }

h2 {
  font-size: 26px;
  font-size: 1.625rem; }
  @media only screen and (min-width: small) {
    h2 {
      font-size: 33px;
      font-size: 2.0625rem; } }

h3 {
  font-size: 22px;
  font-size: 1.375rem; }
  @media only screen and (min-width: small) {
    h3 {
      font-size: 27px;
      font-size: 1.6875rem; } }

h4 {
  font-size: 18px;
  font-size: 1.125rem; }
  @media only screen and (min-width: small) {
    h4 {
      font-size: 22px;
      font-size: 1.375rem; } }

h5 {
  font-size: 16px;
  font-size: 1rem; }
  @media only screen and (min-width: small) {
    h5 {
      font-size: 18px;
      font-size: 1.125rem; } }

h6 {
  font-size: 16px;
  font-size: 1rem; }
  @media only screen and (min-width: small) {
    h6 {
      font-size: 18px;
      font-size: 1.125rem; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  font-weight: 200;
  margin: 0 0 0.75rem; }
  @media only screen and (min-width: small) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem; } }

p,
ul,
ol,
dl {
  margin: 0 0 1em;
  text-align: left; }
  p:last-child,
  ul:last-child,
  ol:last-child,
  dl:last-child {
    margin-bottom: 0; }
  @media only screen and (min-width: small) {
    p,
    ul,
    ol,
    dl {
      font-size: 22px;
      font-size: 1.375rem;
      margin: 0 0 2.0625rem; } }

dt {
  font-weight: 400; }

.lead {
  font-size: 20px;
  font-size: 1.25rem; }
  @media only screen and (min-width: small) {
    .lead {
      font-size: 24px;
      font-size: 1.5rem; } }

html {
  background-color: #fff; }

body {
  font-size: 1em;
  line-height: 1.5; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

figure {
  margin-bottom: 2.0625rem; }
  figure img {
    display: block;
    margin-bottom: 0.6875rem; }

@media only screen and (min-width: small) {
  figcaption {
    font-size: 22px;
    font-size: 1.375rem; } }

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

blockquote {
  font-style: italic;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0; }
  blockquote p {
    font-size: 18px;
    font-size: 1.125rem; }
    @media only screen and (min-width: small) {
      blockquote p {
        font-size: 24px;
        font-size: 1.5rem; } }
  blockquote .cite {
    font-style: normal; }
    blockquote .cite:before {
      content: "—"; }

pre {
  margin: 0; }

code {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 0.8em;
  padding: 0.2em 0.5em;
  color: inherit;
  position: relative;
  top: -1px;
  font-family: "Inconsolata", sans-serif; }
  @media only screen and (min-width: small) {
    code {
      font-size: 22px;
      font-size: 1.375rem; } }

a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  a:hover {
    color: #4a90e2; }
  .colored a {
    color: #ffffff; }
    .colored a:hover {
      color: #ffffff;
      opacity: 0.8; }

b {
  font-weight: 600; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  line-height: 1.6;
  resize: vertical; }

.colored {
  color: #ffffff; }

p {
  color: inherit; }

@-webkit-keyframes scrolldown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes scrolldown {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
body {
  background: url("../images/pattern.png");
  min-width: 1024px; }

.container {
  color: white;
  font-family: "dinnreg"; }

.head {
  background: url("../images/fon1.jpg") no-repeat 50% 20%;
  background-size: cover; }
  .head .opacity {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px; }
  .head header .container {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .head header .container .txt {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      text-align: center;
      opacity: 0.6;
      font-size: 20px;
      font-family: "dinnlight"; }
    .head header .container .phone {
      font-size: 25px;
      line-height: 30px;
      font-weight: bold;
      text-align: right;
      letter-spacing: 2px; }
      .head header .container .phone .popup-show {
        font-size: 18px;
        text-decoration: underline;
        cursor: pointer;
        letter-spacing: 1px;
        line-height: 25px; }
  .head .main {
    margin-top: 50px; }
    .head .main .container {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .head .main .container .flex-inner .flex-item {
        -webkit-align-self: space-around;
        -ms-flex-item-align: space-around;
        align-self: space-around;
        width: 50%;
        font-size: 20px;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left; }
        .head .main .container .flex-inner .flex-item .title {
          font-size: 45px;
          font-family: "dinnbold"; }
        .head .main .container .flex-inner .flex-item .txt {
          font-weight: 500; }
          .head .main .container .flex-inner .flex-item .txt span:first-of-type {
            text-decoration: line-through; }
          .head .main .container .flex-inner .flex-item .txt span:last-of-type {
            color: #ffc500;
            font-size: 25px; }
        .head .main .container .flex-inner .flex-item .button {
          border-radius: 5px;
          border: 2px solid #ffc500;
          padding: 10px 20px;
          margin-top: 15px;
          cursor: pointer;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease; }
          .head .main .container .flex-inner .flex-item .button:hover {
            background: #ffc500;
            color: black; }
      .head .main .container .flex-inner .image {
        width: 50%; }
        .head .main .container .flex-inner .image img {
          position: relative;
          top: 20px; }

.our-advantages {
  padding: 50px 0; }
  .our-advantages .container {
    color: black; }
    .our-advantages .container .title {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      font-size: 45px;
      width: 90%; }
    .our-advantages .container .flex-inner {
      margin-top: 50px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-family: "dinnlight"; }
      .our-advantages .container .flex-inner .flex-item {
        width: 34%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .our-advantages .container .flex-inner .flex-item .image {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center; }
          .our-advantages .container .flex-inner .flex-item .image img {
            min-width: 50px; }
        .our-advantages .container .flex-inner .flex-item .text {
          margin-left: 15px;
          width: 80%;
          text-align: left; }
          .our-advantages .container .flex-inner .flex-item .text .title {
            -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
            align-self: flex-start;
            font-size: 18px;
            text-align: left;
            font-family: "dinnreg"; }
          .our-advantages .container .flex-inner .flex-item .text .txt {
            font-weight: 200; }

.video-review {
  padding: 50px 0px; }
  .video-review .container {
    min-height: 250px; }
    .video-review .container .video {
      min-width: 50%; }
      .video-review .container .video iframe {
        min-width: 100%;
        min-height: 255px; }
    .video-review .container .text {
      margin-left: 20px;
      color: black;
      text-align: left;
      font-family: "dinnreg";
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .video-review .container .text .title {
        font-size: 40px;
        font-family: "dinnreg"; }

.hight-quality {
  padding: 50px 0px; }
  .hight-quality .container {
    color: black;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .hight-quality .container .title {
      font-size: 45px; }
    .hight-quality .container .text {
      margin-top: 20px;
      width: 52%;
      font-family: "dinnreg"; }
      .hight-quality .container .text span {
        color: #4a90e2; }

.image-block {
  padding: 50px 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .image-block .flex-item {
    position: relative;
    width: 12.5%;
    overflow: hidden; }
    .image-block .flex-item a {
      background: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      z-index: 6; }
      .image-block .flex-item a .background {
        z-index: 5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
      .image-block .flex-item a:hover .background {
        background: transparent; }
      .image-block .flex-item a:hover img {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1); }
    .image-block .flex-item img {
      min-width: 100%;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.why {
  padding: 50px 0; }
  .why .container {
    color: black; }
    .why .container .title {
      font-size: 45px;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center; }
    .why .container .flex-inner {
      margin-top: 50px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .why .container .flex-inner .flex-item {
        width: 30%; }
        .why .container .flex-inner .flex-item .name {
          line-height: 35px;
          font-size: 30px;
          letter-spacing: 1px; }
        .why .container .flex-inner .flex-item .image {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          padding: 10% 20%;
          width: 75%;
          -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(transparent), color-stop(0.4, #666), color-stop(0.65, transparent)) 1 1 1 1 repeat;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(transparent), color-stop(0.4, #666), color-stop(0.65, transparent)) 1 1 1 1 repeat; }
        .why .container .flex-inner .flex-item:nth-of-type(2) .image {
          -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#ffc500), to(transparent), color-stop(0.4, #ffc500), color-stop(0.65, transparent)) 1 1 1 1 repeat;
          border-image: -webkit-gradient(linear, left top, left bottom, from(#ffc500), to(transparent), color-stop(0.4, #ffc500), color-stop(0.65, transparent)) 1 1 1 1 repeat; }
        .why .container .flex-inner .flex-item .txt {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          width: 69%;
          letter-spacing: 1px;
          margin-top: 15px;
          font-family: "dinnlight"; }

.about-watch {
  background: url("../images/fon2.png") no-repeat center center;
  background-size: cover; }
  .about-watch .opacity {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.3); }
    .about-watch .opacity .container {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .about-watch .opacity .container .slider {
        width: 30%; }
        .about-watch .opacity .container .slider .slick-next, .about-watch .opacity .container .slider .slick-prev {
          display: none !important; }
        .about-watch .opacity .container .slider .slick-dots {
          bottom: -10%;
          width: initial;
          left: 40%; }
          .about-watch .opacity .container .slider .slick-dots li {
            position: relative;
            min-width: 20px;
            border: 1px solid transparent;
            min-height: 20px;
            border-radius: 10px;
            opacity: 0.5;
            margin-top: 5px;
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
            .about-watch .opacity .container .slider .slick-dots li:after {
              content: "";
              position: absolute;
              width: 10px;
              height: 10px;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              background: white;
              border-radius: 5px;
              cursor: pointer; }
          .about-watch .opacity .container .slider .slick-dots .slick-active {
            border: 1px solid white;
            opacity: 1; }
        .about-watch .opacity .container .slider .flex-inner {
          outline: none; }
          .about-watch .opacity .container .slider .flex-inner .image {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center; }
            .about-watch .opacity .container .slider .flex-inner .image img {
              max-height: 270px; }
      .about-watch .opacity .container .charact {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        text-align: left; }
        .about-watch .opacity .container .charact .title {
          font-weight: bold; }
        .about-watch .opacity .container .charact .text {
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .about-watch .opacity .container .charact .text span {
            font-weight: bold; }
          .about-watch .opacity .container .charact .text .yellow {
            color: #ffc500; }
          .about-watch .opacity .container .charact .text .string {
            margin-top: 5px; }
      .about-watch .opacity .container form {
        background: rgba(0, 0, 0, 0.4);
        padding: 15px;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        border-radius: 10px; }
        .about-watch .opacity .container form .price {
          padding: 10px 0;
          border: 1px solid #ffc500; }
          .about-watch .opacity .container form .price span {
            text-decoration: line-through;
            font-size: 12px; }
        .about-watch .opacity .container form .title {
          font-size: 20px; }
          .about-watch .opacity .container form .title span {
            font-size: 16px;
            font-family: "dinnlight"; }
        .about-watch .opacity .container form .timer {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          border: 1px solid #ffc500;
          height: 80px;
          width: 80%; }
          .about-watch .opacity .container form .timer .countdown-row {
            -webkit-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            min-width: 100%;
            min-height: 100%; }
            .about-watch .opacity .container form .timer .countdown-row .countdown-section {
              font-size: 15px; }
              .about-watch .opacity .container form .timer .countdown-row .countdown-section .countdown-amount {
                font-size: 35px !important; }
        .about-watch .opacity .container form .inputs {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          width: 80%;
          margin-top: 10px;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
          -ms-flex-align: start;
          align-items: flex-start; }
          .about-watch .opacity .container form .inputs label {
            font-family: "dinnlight"; }
          .about-watch .opacity .container form .inputs input {
            width: 100%;
            border: 1px solid white;
            background: transparent;
            height: 50px;
            color: white;
            padding-left: 10px; }
            .about-watch .opacity .container form .inputs input[type="submit"] {
              background: #ffc500;
              font-weight: bold; }
        .about-watch .opacity .container form .sec {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          text-align: left;
          font-size: 12px;
          margin-top: 5px;
          font-family: "dinnlight"; }

.process {
  padding: 50px 0; }
  .process .container {
    color: black; }
    .process .container .title {
      font-size: 45px; }
    .process .container .flex-inner {
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-top: 50px; }
      .process .container .flex-inner .flex-item {
        min-width: 20%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        .process .container .flex-inner .flex-item .number {
          position: relative;
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          width: 100%;
          font-size: 100px;
          color: #ffc500; }
          .process .container .flex-inner .flex-item .number span {
            box-shadow: 2px 0px 2px black;
            padding: 20px 40px 10px 40px;
            border-radius: 50%;
            font-family: "dinnreg"; }
          .process .container .flex-inner .flex-item .number .str {
            position: absolute;
            right: -8%;
            top: 0%; }
        .process .container .flex-inner .flex-item .txt {
          margin-top: 25px;
          font-size: 14px;
          font-family: "dinnlight"; }
    .process .container .foot {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      font-size: 13px;
      color: gray;
      margin-top: 30px;
      font-family: "dinnlight"; }

.reviews {
  background: #eee;
  padding: 30px 0; }
  .reviews .container {
    color: black; }
    .reviews .container .slick-next {
      right: -25px;
      height: initial;
      z-index: 1;
      width: auto;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      opacity: 0.35; }
      .reviews .container .slick-next:hover {
        opacity: 0.5; }
      .reviews .container .slick-next:before {
        content: url("../images/right.png"); }
    .reviews .container .slick-prev {
      left: -25px;
      height: initial;
      width: auto;
      z-index: 1;
      -webkit-transition: opacity 0.3s ease;
      transition: opacity 0.3s ease;
      opacity: 0.35; }
      .reviews .container .slick-prev:hover {
        opacity: 0.5; }
      .reviews .container .slick-prev:before {
        content: url("../images/left.png"); }
    .reviews .container .review {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      outline: none; }
      .reviews .container .review .flex-inner {
        width: 90%;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .reviews .container .review .flex-inner .dots {
          margin-top: 20px; }
        .reviews .container .review .flex-inner .img {
          min-width: 183px;
          min-height: 183px; }
        .reviews .container .review .flex-inner .img1 {
          width: 183px;
          height: 183px;
          border-radius: 50%;
          overflow: hidden; }
          .reviews .container .review .flex-inner .img1 img {
            width: 100%;
            height: 100%; }
        .reviews .container .review .flex-inner .scale img {
          -webkit-transform: scale(1.3, 1);
          -ms-transform: scale(1.3, 1);
          transform: scale(1.3, 1); }
        .reviews .container .review .flex-inner .txt {
          -webkit-align-self: center;
          -ms-flex-item-align: center;
          align-self: center;
          width: 60%;
          font-size: 20px;
          text-align: left;
          font-family: "dinnlight"; }
          .reviews .container .review .flex-inner .txt span {
            font-family: "dinnreg"; }
        .reviews .container .review .flex-inner .dots-after {
          -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
          align-self: flex-end;
          margin-bottom: 20px; }

.footer {
  padding: 20px 0;
  background: black; }
  .footer .container {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .footer .container a {
      color: white;
      font-weight: bold; }
    .footer .container ul {
      width: 70%; }
      .footer .container ul li {
        position: relative;
        display: inline-block; }
        .footer .container ul li:first-child a:after, .footer .container ul li:nth-child(2) a:after {
          content: none; }
        .footer .container ul li:hover .wind {
          display: block; }
        .footer .container ul li .wind {
          display: none;
          position: absolute;
          left: -50px;
          top: -30px;
          height: 30px; }
        .footer .container ul li a {
          position: relative;
          padding-bottom: 10px; }
          .footer .container ul li a:after {
            content: "";
            width: 0%;
            height: 2px;
            background: #fff;
            position: absolute;
            left: 50%;
            bottom: 0;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            -webkit-transition: width 0.3s ease;
            transition: width 0.3s ease; }
          .footer .container ul li a:hover:after {
            width: 100%; }

.headhesive {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  z-index: 50; }

.headhesive--stick {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%); }

.popup {
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%; }
  .popup .form {
    position: relative;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    color: black; }
    .popup .form .popup-close {
      position: absolute;
      right: -10px;
      top: -15px;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50%;
      padding: 5px 11px;
      background: red;
      color: white; }
    .popup .form .inputs {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      width: 80%;
      margin-top: 10px;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start; }
      .popup .form .inputs input {
        width: 100%;
        border: 1px solid #3a3a3a;
        outline: none;
        background: transparent;
        height: 50px;
        color: black;
        padding-left: 10px;
        -webkit-transition: border 0.3s ease;
        transition: border 0.3s ease; }
        .popup .form .inputs input:focus {
          border: 1px solid #ffc500; }
        .popup .form .inputs input[type="submit"] {
          background: #ffc500;
          font-weight: bold;
          color: white;
          border: none; }
    .popup .form .sec {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      text-align: left;
      font-size: 12px;
      margin-top: 5px; }

.popup2 {
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%; }
  .popup2 .window {
    position: relative;
    margin: auto;
    font-size: 50px;
    width: 50%;
    min-height: 30%;
    background: white;
    text-align: center;
    padding: 30px;
    border: 2px solid #ffc500; }
    .popup2 .window .popup-close {
      position: absolute;
      right: -3%;
      top: -8%;
      cursor: pointer;
      border: 1px solid white;
      border-radius: 50%;
      padding: 5px 11px;
      background: red;
      color: white;
      font-size: 16px; }


/*# sourceMappingURL=app.css.map*/